:root {
    --bgr-color-nav: #000000;
    --bgr-color-main: #141922;
    --bgr-color-footer: #282828;
    --txt-color-gray: #6d6d6d;
}
/* GENERICS SETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



/* MAIN */
#main-app {
    display: flex;
    height: calc(100vh - 125px);  
}


/* NAV ASIDE BAR */
#nav-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--bgr-color-nav);
    width: 360px;
    height: calc(100vh - 125px);    
}

.nav-logo {
    width: 60%;
    margin: 22px 20px;
}

.nav-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
}

.nav-home .home,
.nav-home .search,
.nav-home .library {
    display: flex;
}
 #nav-bar .nav-home img {
    width: 35px;
 }
#nav-bar .nav-home span {
    color: var(--txt-color-gray);
    margin: auto 5px;
    font-weight: bold;
}

.nav-add-playlist {
    width: 100%;
}

.nav-name-playlist {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.nav-bottom-playlist {
    width: 100%;
}



/* NAV ADD PLAYLIST */

.nav-add-playlist {
    padding: 0 20px;
    padding-top: 20px;
    color: var(--txt-color-gray);
}

.nav-add-playlist h3 {
    color: white;
}

.nav-add-playlist div {
    font-size: 60px;
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.nav-add-playlist div span {
    font-size: 20px;
    padding: 0 8px;
    font-weight: bold;
}

/* NAV NAME PLAYLIST */
.nav-name-playlist li {
    color: var(--txt-color-gray);
    padding: 0 20px;
    margin: 20px 0;
    font-weight: bold;
}
.nav-name-playlist :first-child {
    margin-top: 10px;
}



/* NAV BOTTOM PLAYLIST */
.nav-bottom-playlist {
    color: var(--txt-color-gray);
    padding: 10px 20px;
    padding-bottom: 5px;
}

.nav-bottom-playlist .nav-bottom-install span {
    font-weight: bold;
}

.nav-bottom-playlist .nav-bottom-install {
    border-bottom: 1px solid var(--txt-color-gray);
    padding: 10px 0;
}

.nav-bottom-playlist .nav-bottom-user img {
    width: 30px;
    background-color: gray;
    border-radius: 50%;
}

.nav-bottom-playlist .nav-bottom-user span {
    margin: auto 10px;
    font-weight: bold;
    color: white;
}

.nav-bottom-playlist .nav-bottom-user .img-bottom {
    display: flex;
    margin: 10px 0;
    margin-bottom: 0px;
}






/* MAIN CENTER */
#main-center {
    background-color: var(--bgr-color-main);
    width: 100vw;
    overflow: auto;
}



/* TOP BAR */
#top-bar {
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: end;
    line-height: 110px;
    position: sticky;
    top: 0;
}

#top-bar .btn-upgrade {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 45px;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    font-size: 17px;
    margin-right: 20px;
  }



/* MAIN CONTENT */
#main-content{
    margin: 0 30px;
}

/* LIST MAIN NAV */
.list-main-nav {
    margin-top: 20px;
    margin-bottom: 45px;
}
.list-main-nav ul{
    text-align: center;
}

.list-main-nav ul li {
    display: inline;
    padding: 0px 17px;
    font-weight: bold;
    color: var(--txt-color-gray);
  }

.list-main-nav ul :first-child {
    border-bottom: 2px solid #adff2f;
}


/* TITLE RECENTLY PLAYED H2 */
#main-content .recently-played {
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}


/* SEZIONE ASCOLTI RECENTI */
#recently{
}

#recently .container {
    margin-left: -15px;
    margin-right: -15px;
}

#recently .row {
    display: flex;
    width: 100%;
}

#recently .col {
    width: calc(100% / 6 );
    margin: 10px 10px;
    text-align: center;

}

#recently .container img {
    display: block;
    max-width: 100%;
}

#recently .container h4 {
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#recently .container span {
    color: var(--txt-color-gray);
    font-weight: bold;
}


/* CREATE FOR H2 TITLE */
.title-create-for {
    font-size: 30px;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}

.subtitle-create-for {
    font-size: 16px;
    color: var(--txt-color-gray);
    margin-top: 10px;
    margin-bottom: 35px;
    font-weight: bold;
}


/* SEZIONE CREATE FOR */
#create-for {
    display: flex;
    width: fit-content;
}

#create-for .release-radar,
#create-for .daily-mix {
    width: 238.3px;
}

#create-for .release-radar {
    margin-right: 20px;
}

#create-for img {
    max-width: 100%;
}

#create-for h4 {
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* ARTIST POPULAR H2 TITLE */
.title-artist-popular {
    font-size: 30px;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}

.subtitle-artist-popular {
    font-size: 16px;
    color: var(--txt-color-gray);
    margin-top: 10px;
    margin-bottom: 35px;
    font-weight: bold;
}


/* SEZIONE ARTIST POPULAR */
#artist-popular {
    display: flex;
    width: fit-content;
}

#artist-popular .lana-del-rey,
#artist-popular .lud-einaudi {
    width: 238.3px;
}

#artist-popular .lana-del-rey {
    margin-right: 20px;
}

#artist-popular img {
    max-width: 100%;
    border-radius: 50%;
}

#artist-popular h4 {
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}



/* FOOTER */
#footer {
    background-color: var(--bgr-color-footer);
    width: 100vw;
    height: 125px;
}